.place__image {
    grid-area: image;
    width: 100%;
    max-width: 460px;
}

@media (max-width: 1279px) {
    .place__image {
        min-width: 440px;     
    }    
}

@media (max-width: 1023px) {
    .place__image {
        min-width: 340px;     
    }    
}

@media (max-width: 767px) {
    .place__image {
        min-width: 100vw;
    }    
} 

@media (min-width: 500px) and (max-width: 766px){
    .place__image {
       margin-left: 16px;
       min-width: calc(100vw - 32px);
    }    
} 